@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .custom-table tbody td tr {
    @apply bg-sky-400;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

image {
  width: auto;
  height: auto;
}

tr {
  height: 60px;
}
